# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\College 4\machine learning\Group Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
